@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
}

:root {
    --bg-color: rgb(22, 114, 206);
    --btn-bg-color: rgb(3, 166, 248);
    --text-color-black: rgb(24, 22, 22);
    --text-color-white: rgb(255, 255, 255);
    --hover-color: rgb(12, 157, 230);
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--bg-color);
    color: var(--text-color-white);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--hover-color);
    text-decoration: underline;
    text-underline-offset: .5rem;
    text-decoration-color:var(--btn-bg-color);
}

li {
    list-style: none;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: var(--text-color-white);
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.header__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--text-color-black);
    transition: color .3s;
}

.header__logo-container:hover {
    color: var(--bg-color);
}

.header__logo-img-cont {
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1rem;
    background: var(--bg-color);
}

.header__logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.header__logo-text {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.header__links {
    display: flex;
}

.header__link {
    padding: 1.2rem 2rem;
    display: inline-block;
    font-size: 1rem;
    color: var(--text-color-black);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    transition: color .3s;
}

.header__link:hover {
    color: var(--hover-color);
}

#home {
    color: var(--text-color-black);
    background-color: var(--bg-color);
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.section__text {
    align-self: center;
    text-align: center;
    color: var(--text-color-white);
    position: absolute;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
    font-size: 1.75rem;
}

.section__text__p2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.title-home {
    font-size: 5rem;
    text-align: center;
}

.btn-home {
    display: inline-block;
    padding: 10px 20px;
    background: var(--text-color-white);
    color: var(--bg-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 6px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    transition: transform .3s;
    font-size: 1.4rem;
    border: none;
    margin-top: 2rem;
}

.btn-home:hover {
    transform: translateY(-3px) scale(1.10);
    color: var(--bg-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btn-about {
    display: inline-block;
    padding: 10px 20px;
    background: var(--bg-color);
    color: var(--text-color-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 6px;
    transition: transform .3s;
    font-size: 1.4rem;
    border: none;
    margin-top: 2rem;
}

.btn-about:hover {
    background-color: var(--hover-color);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}

.home-hero__socials {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px; /* Adjust the distance from the right side */
    z-index: 1000;
}

.home-hero__social {
    margin-bottom: 10px; /* Adjust margin between icons if needed */
}

.home-hero__social-icon-link {
    text-decoration: none;
    color: var(--text-color-white); /* Adjust icon color */
    display: inline-block;
    border: 2px solid white; /* Add white border around the icons */
    padding: 10px; /* Add padding for better spacing */
    margin-right: -2px; /* Adjust margin to make borders stick together */
    transition: background-color 0.3s; /* Smooth transition for background color change */
    background-color: var(--bg-color); /* Apply the background color */
}

.home-hero__social-icon-link:hover {
    background-color:var(--hover-color);
    color: var(--text-color-white);
    transform: scale(1.05);

    
}

.icon {
    font-size: 32px; /* Adjust icon size */
}




#about {
    background-color: #f8f9fa;
    color: var(--text-color-black);
    height: 100vh;
    padding: 7.26rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: start;
    overflow: auto; 
}

.main-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 22px;
    text-align: start;
}

.main-heading {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5rem;
    margin-top: 22px; 
    text-align: center;
}

.about-content {
    display: grid;
    grid-gap: 5rem;
    text-align: start;
}

.content-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: start;
}

.content-paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--text-color-black);
    margin-top: 20px;
}

.skills-box {
    width: 165%;
    background-color: white;
    padding: 22px;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
    text-align: start;
}

.skills-container {
    text-align: start;
    margin-bottom: 20px;
}

.about-content-skills {
    position: relative;
    text-align: start;
}

.skill {
    background-color: var(--bg-color);
    color: var(--text-color-white);
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    font-size: 1.1rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: start;
}

#projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 2.2rem;
    padding-top: 6rem;
    margin-bottom: 3rem;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.project {
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-img {
    border-radius: 8px;
    width: auto;
    max-height: 400px;
    margin-bottom: 1rem;
}

.project-title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: var(--text-color-black);
}

.project-p {
    margin-bottom: 1rem;
    color: var(--text-color-black);
    display: flex;
    text-align: start;
}

.project-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-github,
.btn-demo {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: poi2rem;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease, transform .3s, box-shadow 0.3s;
    background-color: var(--bg-color);
    color: var(--text-color-white);
}

.btn-github:hover,
.btn-demo:hover {
    background-color: var(--hover-color);
    color: var(--text-color-white);
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#contact {
    background-color: #f8f9fa;
    color: var(--text-color-black);
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: start;
    overflow: auto; 
}

#footer {
    position: relative; /* Ensure the footer is relatively positioned */
    bottom: 0;
    left: 0;
    width: 100%;
    height:4vh; /* Adjust height for smaller footer */
    background-color: var(--bg-color); /* Adjust background color */
    color: var(--text-color-white); /* Adjust text color */
    display: flex;
    justify-content: space-between; /* Align content to the left */
    align-items: center;
    padding: 0 20px; 
}

.footer-p {
    font-size: 0.8rem;
    margin: 0;
}


